@model MyShop.Core.ViewModels.ListUserViewModel

@{
    ViewBag.Title = "ListUser";
}

<h2>ListUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Admin Roles", "AdminRoles")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            State
        </th>
        <th>
            City
        </th>
        <th>
            Street
        </th>
        <th>
            Zip Code
        </th>
        <th>
            User Id
        </th>
        <th>
            Base Entity Id
        </th>
        <th>
            Created At
        </th>
    </tr>

@foreach (var item in Model.Users) {
    <tr>
        <td>
            @Html.DisplayFor(Item => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(Item => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(Item => item.Email)
        </td>
        <td>
            @Html.DisplayFor(Item => item.State)
        </td>
        <td>
            @Html.DisplayFor(Item => item.City)
        </td>
        <td>
            @Html.DisplayFor(Item => item.Street)
        </td>
        <td>
            @Html.DisplayFor(Item => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(Item => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(Item => item.Id)
        </td>
        <td>
            @Html.DisplayFor(Item => item.CreatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
